@model MenuItemViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Edit Menu Item</h2>
<br />
<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="MenuItem.Id" a />
    <input type="hidden" asp-for="MenuItem.Image" />
    <div class="whiteBackground border row">

        <div class="col-8">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row form-group">
                <div class="col-4">
                    <label asp-for="MenuItem.Name" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" asp-for="MenuItem.Name" />
                    <span asp-validation-for="MenuItem.Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-4">
                    <label asp-for="MenuItem.Description" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <textarea type="text" class="form-control" asp-for="MenuItem.Description"></textarea>
                    <span asp-validation-for="MenuItem.Description" class="text-danger"></span>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-4">
                    <label asp-for="MenuItem.Price" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" asp-for="MenuItem.Price" />
                    <span asp-validation-for="MenuItem.Price" class="text-danger"></span>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-4">
                    <label asp-for="MenuItem.Image" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input type="file" multiple class="form-control" asp-for="MenuItem.Image" />
                </div>
            </div>

            <div class="row form-group">
                <div class="col-4">
                    <label asp-for="MenuItem.CategoryId" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select id="ddlCategories"
                            class="form-control"
                            asp-for="MenuItem.CategoryId"
                            asp-items="@(new SelectList(Model.CategoriesList,"Id","Name"))">
                    </select>
                    <span asp-validation-for="MenuItem.CategoryId" class="text-danger"></span>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-4">
                    <label asp-for="MenuItem.SubCategoryId" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select id="ddlSubCategories"
                            class="form-control"
                            asp-for="MenuItem.SubCategoryId"
                            asp-items="@(new SelectList(Model.SubCategoriesList,"Id","Name"))">
                    </select>
                    <span asp-validation-for="MenuItem.SubCategoryId" class="text-danger"></span>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-4">
                    <label asp-for="MenuItem.Spicy" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select class="form-control"
                            asp-for="MenuItem.Spicy"
                            asp-items="@Html.GetEnumSelectList<MenuItem.Espicy>()">
                    </select>
                    <span asp-validation-for="MenuItem.Spicy" class="text-danger"></span>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-8 offset-4">
                    <partial name="_UpdateAndBackToListButtonsPartial" model="Model.MenuItem.Id" />
                </div>
            </div>
        </div>


        <div class="col-3 offset-1">
            <img src="@Model.MenuItem.Image" width="100%" style="border:1px solid #7c4242;border-radius:5px" />
        </div>

    </div>
</form>

<!--to make refresh on the client Side-->
@section Scripts{
    <partial name="_ValidationScriptsPartial" />


    <script>

        function updateSubCategoriesList() {
            var selectedCateogey = document.getElementById("ddlCategories").value;
            $list = $('#ddlSubCategories');
            $.ajax({
                url: '/Admin/SubCategories/GetSupCategoriesJson/' + selectedCateogey,
                type: 'GET',
                dataType: 'text',
                success: function (data) {
                    results = JSON.parse(data);
                    $list.html('');
                    var items = '';
                    for (i in results) {
                        items += '<option value="' + results[i].value + '">' + results[i].text + '</option>'
                    }
                    $list.html(items);
                }

            }
            );

        }

        $(document).ready(function () {
            updateSubCategoriesList();

        });

        $("#ddlCategories").on("change", function () {
            updateSubCategoriesList();
        });


    </script>

    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            toolbar_mode: 'floating',
        });
    </script>
}


